.iphone-pro-import {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-import .div-2 {
  background-color: #ffffff;
  height: 852px;
  position: relative;
  width: 393px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.iphone-pro-import .back-img{
  /* Vector */
  /* Vector */
position: absolute;
/* width: 9px; */
/* height: 18px; */
left: 15px;
top: 30px;
/* Secondary */
/* border: 1.6px solid rgb(105, 111, 140); */
}
.iphone-pro-import .overlap-group {
  /* background-color: #75a3ce; */
  background-color: #00b4ff;
  /* height: 106px; */
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.iphone-pro-import .description-instance {
  /* left: 0 !important; */
  /* position: absolute !important; */
  /* top: 0 !important; */

  /* g */
position: absolute;
width: 150px;
height: 60px;
left: 29%;
/* right: 24.29%; */
top: 2%;
/* bottom: 79.81%; */
} 
.iphone-pro-import .language-instance-2 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 80%;
  right: 32.55%;
  top: 2%;
  bottom: 10.74%;
}
.iphone-pro-import .little-robot {
  height: 30px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 30px;
}

.iphone-pro-import .overlap {
  height: 43px;
  left: 55px;
  position: absolute;
  top: 18px;
  width: 296px;
}

.iphone-pro-import .language-instance {
  left: 275px !important;
  position: absolute !important;
  top: 0px !important;
}



.iphone-pro-import .sbumit-instance {
  left: 40px !important;
  position: absolute !important;
  top: 600px !important;
}

.iphone-pro-import .sbumit-instance-3 {
  left: 40px !important;
  position: absolute !important;
  top: 700px !important;
}

.iphone-pro-import .single-choice-component {
  left: 29px !important;
  position: absolute !important;
  top: 134px !important;
}

.iphone-pro-import .input-text-instance {
  left: 93px !important;
  position: absolute !important;
  top: 269px !important;
}

.iphone-pro-import .design-component-instance-node {
  left: 93px !important;
  position: absolute !important;
  top: 317px !important;
}

.iphone-pro-import .label-instance {
  left: 19px !important;
  position: absolute !important;
  top: 273px !important;
}

.iphone-pro-import .label-2 {
  left: 19px !important;
  position: absolute !important;
  top: 322px !important;
}

.iphone-pro-import .rectangle {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 166px;
  left: 32px;
  position: absolute;
  top: 385px;
  width: 319px;
}

.iphone-pro-import .rectangle-file1{
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 130px;
  left: 32px;
  position: absolute;
  top: 380px;
  width: 319px;
}

.iphone-pro-import .rectangle-file2{
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 130px;
  left: 32px;
  position: absolute;
  top: 540px;
  width: 319px;
}